@import "tailwindcss";

:root {
  --background: #323232;
  --foreground: #d5d5d5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-futura);
  --font-mono: var(--font-futura);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-futura), Arial, Helvetica, sans-serif;
}
