@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.centerpiece-container {
    flex: 1;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Match the height of the side gallery grid */
    height: calc(100% - 32px); /* Account for padding */
}

.centerpiece-image-wrapper {
    position: relative;
    width: 100%;
    /* This ensures the height matches exactly the side galleries */
    height: 100%;
    overflow: hidden;
}

.tile-container {
    aspect-ratio: 1 / 1;
    width: 100%; ;
    overflow: hidden;
    opacity: 0;
    position: relative;
    border: 4px solid gray;
    transform-origin: center;
    animation: fadeIn .75s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    transition: opacity 0.4s ease-out, border 0.4s ease-out, transform 0.4s ease-out;
}

.tile-container.background {
    opacity: 0.5 !important;
}

.tile-container.highlight {
    opacity: 1;
    border: 4px solid #ffffff;
    transform: scale(1.05);
    z-index: 10;
}

